TestCoreConsole/bin/Debug/TestCoreConsole.exe
TestCoreConsole/bin/Debug/TestCoreConsole.exe.config
TestCoreConsole/bin/Debug/TestCoreConsole.pdb
TestCoreConsole/bin/Debug/TestCoreConsole.vshost.exe
TestCoreConsole/bin/Debug/TestCoreConsole.vshost.exe.config
TestCoreConsole/bin/Debug/TestCoreConsole.vshost.exe.manifest
TestCoreConsole/bin/Debug/ThalesCore.dll
TestCoreConsole/bin/Debug/ThalesCore.pdb
TestCoreConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestCoreConsole/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestCoreConsole/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestCoreConsole/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestCoreConsole/obj/Debug/TestCoreConsole.csproj.FileListAbsolute.txt
TestCoreConsole/obj/Debug/TestCoreConsole.csprojResolveAssemblyReference.cache
TestCoreConsole/obj/Debug/TestCoreConsole.exe
TestCoreConsole/obj/Debug/TestCoreConsole.pdb
ThalesCore.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ThalesCore.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ThalesCore.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ThalesCore.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ThalesCore.Tests/obj/Debug/ThalesCore.Tests.csproj.FileListAbsolute.txt
ThalesCore.Tests/obj/Debug/ThalesCore.Tests.csprojResolveAssemblyReference.cache
ThalesCore.Tests/obj/Debug/ThalesCore.Tests.dll
ThalesCore.Tests/obj/Debug/ThalesCore.Tests.pdb
ThalesCore.Tests/bin/Debug/LMKSTORAGE.TXT
ThalesCore.Tests/bin/Debug/LMKSTORAGE.TXT.old
ThalesCore.Tests/bin/Debug/ThalesCore.dll
ThalesCore.Tests/bin/Debug/ThalesCore.pdb
ThalesCore.Tests/bin/Debug/ThalesCore.Tests.dll
ThalesCore.Tests/bin/Debug/ThalesCore.Tests.pdb
ThalesCore/bin/Debug/ThalesCore.dll
ThalesCore/bin/Debug/ThalesCore.pdb
ThalesCore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ThalesCore/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ThalesCore/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ThalesCore/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ThalesCore/obj/Debug/ThalesCore.csproj.FileListAbsolute.txt
ThalesCore/obj/Debug/ThalesCore.csprojResolveAssemblyReference.cache
ThalesCore/obj/Debug/ThalesCore.dll
ThalesCore/obj/Debug/ThalesCore.pdb
ThalesCore_/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ThalesCore_/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ThalesCore_/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ThalesCore_/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ThalesCore_/obj/Debug/ThalesCore.csproj.FileListAbsolute.txt
ThalesCore_/obj/Debug/ThalesCore.csprojResolveAssemblyReference.cache
